.top-heading {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
    text-align: center;
}

.welcome-text {
    padding: 0px !important;
    margin: 0px !important;
}
hr {
    margin: 0px !important;
    padding: 0px !important;
}

.recipe-card {
    width: 300px; 
    height: 400px; 
    background-color: #f9f9f9;
    padding: 10px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    overflow: hidden;  
}

.recipe-image {
    width: 100%;  
    height: 200px; 
    object-fit: cover; 
    margin-bottom: 10px;  
    border-radius: 8px;  
}

.recipe-title {
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;  
    white-space: nowrap;  
    overflow: hidden;     
    text-overflow: ellipsis;  
}

.recipe-info {
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
}

.recipe-card a {
    text-align: center;
    font-size: 14px;
    color: #0066cc;
    text-decoration: none;
}

.recipe-card a:hover {
    text-decoration: underline;
}